@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
h1, h2, h3, h4 {
  color: #ff8800;
  font-size: 30px; }

.titiulosprincipales1 {
  font-size: 30px; }

.titiulosprincipales2 {
  font-size: 60px; }

.titiulosprincipales3 {
  font-size: 90px; }

.titiulosprincipales4 {
  font-size: 120px; }

.titiulosprincipales5 {
  font-size: 150px; }

.bordecomun {
  border-style: double;
  border-color: #ff8800; }

.probandosass__texto {
  border-style: double;
  border-color: #ff8800; }

.efa__texto {
  color: #ff8800;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  color: #ff8800; }

.tituloprincipal {
  font-size: 70px; }

body {
  background-image: url("http://wallpapers4screen.com/Uploads/25-1-2016/16275/green-grass-football-turf-football-stadium-the-football-pitch.jpg"); }

header, a {
  color: #ff8800;
  font-style: normal;
  font-weight: bold; }

.item1:hover {
  transition: 3s;
  font-size: 3rem; }

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  border-style: double;
  border-color: #ff8800;
  font-style: normal;
  font-weight: bold; }

h2 {
  text-align: center;
  border-style: double;
  border-color: #ff8800;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

h3 {
  text-align: center;
  border-style: double;
  border-color: #ff8800;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

h4 {
  text-align: center;
  border-style: double;
  border-color: #ff8800;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

h5 {
  color: #919191;
  text-align: center;
  border-style: double;
  border-color: #0f3e85;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

ul li {
  list-style-type: square;
  color: #d4cec4;
  font-style: normal;
  font-size: medium;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

table, th, td {
  color: #78afc0;
  font-style: normal;
  font-weight: normal;
  font-family: 'Bebas Neue';
  border: 2px solid #ff8800;
  text-align: left;
  font-size: medium; }

th {
  color: #78afc0;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue';
  border: 2px solid #ff8800;
  text-align: center; }

label {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-family: 'Bebas Neue'; }

tr:hover
.item3pagconvertite--boton {
  background-color: #0077ff; }

.item3__interno--boton {
  background-color: #ff8800; }

.container {
  width: 500px;
  margin: 100px;
  padding: auto; }

.redes {
  width: 500px;
  margin: 100px;
  padding: auto; }

.fotosobreredes {
  width: 500px;
  margin: 50px; }

.item3pagsocial__flex-container {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-between;
  align-items: initial;
  align-content: flex-start;
  order: initial; }

.grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  background-image: linear-gradient(to top orange, white);
  grid-area: auto;
  border: 10px solid #cddbf3;
  width: 90%;
  margin: auto;
  text-align: center; }

.item3pagquienes--texto {
  color: #2c5da8;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #ffa600); }

.item3pagcontacto--texto {
  color: #2c5da8; }

.textoplantilla {
  color: #2c5da8; }

.canchagrid__texto {
  color: #2c5da8; }

.item2:hover {
  transition: 3s;
  font-size: 3rem; }

.item1 {
  grid-area: header; }

.item2 {
  grid-area: menu; }

.item3 {
  grid-area: main; }

.item4 {
  grid-area: right; }

.item5 {
  grid-area: footer; }

.contenedorgridprincipal {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px; }

.contenedorgridprincipal > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px; }
