//Colores texto
$colortexto-principal: #ff8800;
$colorpruebatitulo: #ffffff;
$colorazulcopado: #2c5da8;

//Fondos
$fondoprincipal: url("http://wallpapers4screen.com/Uploads/25-1-2016/16275/green-grass-football-turf-football-stadium-the-football-pitch.jpg");

//Bordes general
$border-style: double;